{% extends 'base/base.html' %}
{% load static %}

{% block content %}



 <!-- char-area -->
 <section class="message-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chat-area">
                    <!-- chatlist -->
                    <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="chat-header">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Open-tab" data-bs-toggle="tab" data-bs-target="#Open" type="button" role="tab" aria-controls="Open" aria-selected="true">All</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="Closed-tab" data-bs-toggle="tab" data-bs-target="#Closed" type="button" role="tab" aria-controls="Closed" aria-selected="false">Active</button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="modal-body">

                                    <!-- chat-list start-->
                                    <div class="chat-lists">
                                        <div class="tab-content" id="myTabContent">

                                            <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                                                <!-- All chat-list start-->

                                                <div class="chat-list">
                                                    {% for userprofile in userprofile %}

                                                    {% if userprofile.user not in request.user.profile.blocklist.all %}
                                                    {% if request.user not in userprofile.blocklist.all %}

                                                    <a href="{% url 'chat:chat_profile' userprofile.user.username %}" class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            <img class="img-fluid" style="height: 40px; width: 40px; border-radius: 50%; " src="{{userprofile.profileimg.url}}" alt="user img">
                                                            {% if userprofile.user.onlinestatus.status == 'online' %}
                                                            <span class="active" style="display: block; content: ''; clear: both; position: absolute; bottom: 3px; left: 34px; height: 12px; width: 12px; background-color: #00DB75; border-radius: 50%; border: 2px solid #fff;"></span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h3>{{userprofile.user.get_full_name}}</h3>
                                                            <p>@{{userprofile.user.username}}</p>
                                                        </div>
                                                    </a>

                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}

                                                    
                                                </div>
                                                <!-- All chat-list end -->

                                            </div>
                                            <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">

                                                <!-- Active chat-list start-->
                                                <div class="chat-list">
                                                    {% for userprofile in userprofile %}
                                                    {% if userprofile.user.onlinestatus.status == 'online' %}
                                                    {% if userprofile.user not in request.user.profile.blocklist.all %}
                                                    {% if request.user not in userprofile.blocklist.all %}
                                                    <a href="{% url 'chat:chat_profile' userprofile.user.username %}" class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            <img class="img-fluid" style="height: 40px; width: 40px; border-radius: 50%; " src="{{userprofile.profileimg.url}}" alt="user img">
                                                            {% if userprofile.user.onlinestatus.status == 'online' %}
                                                            <span class="active" style="display: block; content: ''; clear: both; position: absolute; bottom: 3px; left: 34px; height: 12px; width: 12px; background-color: #00DB75; border-radius: 50%; border: 2px solid #fff;"></span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h3>{{userprofile.user.get_full_name}}</h3>
                                                            <p>@{{userprofile.user.username}}</p>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <!-- Active chat-list End -->
                                            </div>
                                        </div>

                                    </div>
                                    <!-- chat-list End-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatlist -->



                    <!-- chatbox -->
                    
                    <div class="chatbox">
                        <div class="modal-dialog-scrollable">
                            <!-- <div class="modal-content">
                                <div class="msg-head">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex align-items-center">
                                                <span class="chat-icon"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg" alt="image title"></span>
                                                <div class="flex-shrink-0">
                                                    <img class="img-fluid" style="height: 50px; width:50px; border-radius:50%;" src="{{request.user.profile.profileimg.url}}" alt="user img">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h3>Rakibul Hasan</h3>
                                                    <p>front end developer</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>


                                <div class="modal-body">
                                    <div class="msg-body">
                                        <!-- <ul>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:06 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:16 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes!</p>
                                                <span class="time">10:20 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:26 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:32 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>How are you?</p>
                                                <span class="time">10:35 am</span>
                                            </li>
                                            <li>
                                                <div class="divider">
                                                    <h6>Today</h6>
                                                </div>
                                            </li>

                                            <li class="repaly">
                                                <p> yes, tell me</p>
                                                <span class="time">10:36 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes... on it</p>
                                                <span class="time">junt now</span>
                                            </li>

                                        </ul> -->
                                    </div>
                                </div>


                                <div class="send-box">
                                    <form action="">
                                        <input type="text" class="form-control" aria-label="message…" placeholder="Write message…">

                                        <button type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                                    </form>

                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- chatbox -->


            </div>
        </div>
    </div>
    </div>
</section>
<!-- char-area -->
    
{% endblock content %}
    