{% extends 'base/base.html' %}
{% load static %}



{% block content %}

<div class="container my-3">
    <div class="row mb-3">
        
        <p style="font-size: 20px;" class=""><a style="font-size: 20px;" href="{% url 'profile' user_profile.user.id %}">{{ user_profile.user.get_full_name }}'s</a> Followers :-</p>

    </div>
    <div class="row mb-3">
        <!-- Search Panel -->
          <div class="section-main">
            <div class="" role="main">
              <div class="row">
                  <form action="{% url 'suggesions_search' %}" method="GET" class="form-main  form-inline nofloat-xs">
                    <div class="form-group form-input-fields form-group-lg has-feedback">
                        <div class="input-group mb-3">
                            <input type="text" style="width: 1145px;" name="search_box" class="search_box" placeholder=" Search For People" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-success px-4" type="submit" id="button-addon2"><i class="fa-solid fa-user"></i>  Search</button>
                            </div>
                        </div>
                    </div>
                  </form>
              </div>
              <!--rest of page content -->
            </div>
          </div>
        <!-- Search Panel End -->

    <div class="row">
        {% for follower in followers %}
            {% for profile in profile_object %}
            <div class="col-1">
                <img style="height: 66px; width:66px; border-radius:50%;border-color:#ECECEC; "
                    src="{{ follower.profile.profileimg.url }}" class="profile_img mt-1" alt="user profile images">

            </div>
            <div class="col-9 mt-2">
                <a href="{% url 'profile' follower.id %}">
                    <h6 style="color: black;">{{ follower.get_full_name }}</h6>
                    <p style="margin-top: -5px;">@{{ follower.username }}</p>
                </a>
                
            </div>
            <div style="margin-top: 10px;" class="col-2">
                    {% if request.user  in follower.profile.followers.all %}
                    <a style="padding: 2px 5px;" href="{% url 'suggestion_follow_user' follower.id %}" class="btn btn-sm btn-success ms-2">Following</a>
                    {% else %}
                    <a style="padding: 3px 10px;" href="{% url 'suggestion_follow_user' follower.id %}" class="btn btn-sm btn-primary ms-1">+ Follow</a>
                    {% endif %}
                </a>
                
            </div>
            <hr class="mt-2">
            {% endfor %}
        {% endfor %}

    </div>

</div>

{% endblock content %}
    