{% load static %}
<div class="container-fluid mt-5" style="background-color: #151414;">

    <footer class="text-center text-lg-start text-white pt-4">

        <!-- <div
            class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto "
            style="width: 150px; height: 150px; border-radius:50%; overflow:hidden;">
            <img src="{% static 'images\footerimage.png' %}"
                style="width: 130px; height: 150px; alt=""
                loading="lazy" />
        </div>
        <div class="container">
            <h3 class="text-center text-light">MD. Rakibul Hasan</h3>
            <h5 class="text-center text-light">Backend Developer (Python-Django)</h5>
            <p class="text-center">I have completed B.Sc in Computer Science &
                Engineering from IUBAT-Internation University of Business
                Agriculture and Technology. I am a Self-learner and fully loaded
                with patience. I am ready to take challanges.</p>

        </div> -->

        <div class="container ">
            <div
                class="footer-cta pt-5 pb-5 align-items-center justify-content-center">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="cta-text">
                                <h4>Find Me</h4>
                                <span>Uttara-10, Dhaka, bangladesh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call Me</h4>
                                <span>+8801945577185</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail Me</h4>
                                <span>shurovmohammad@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-xl-6 col-lg-6 mb-50 text-center mt-md-3 mb-sm-3">
                    <div class="footer-widget mb-md-3">
                        <div class="footer-social-icon text-center">
                            <div class="follow mb-3">
                                <span class="text-center">Follow Me</span>

                            </div>

                            <div class="hover-effect1 text-center">
                                <a
                                    href="#"
                                    title="Facebook"><i
                                        class="fa-brands fa-facebook"></i></a>
                                <a
                                    href="#"
                                    title="LinkdIn"><i
                                        class="fa-brands fa-linkedin"></i></a>
                                <a
                                    href="#"
                                    title="Twitter"><i
                                        class="fa-brands fa-twitter"></i></a>
                                <a href="#" title="Github"><i
                                        class="fa-brands fa-github"></i></a>
                                <a
                                    href="#"
                                    title="WhatsApp"><i
                                        class="fa-brands fa-whatsapp"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 mb-50 mt-sm-3">
                    <div class="footer-widget">
                        <div class="footer-widget-heading text-center">
                            <h3>Subscribe For Daily Updates!</h3>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright-area container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a
                                href="#">Rakibul Hasan</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/index/">Home</a></li>
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Video Conference</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</div>
<!-- End of .container -->