{% extends 'base/base.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">

        <!-- left side start -->

        <div class="col-4">
            <div id="first_box" class="box">



                <!-- profile design start-->

                <div class="first_halve">
                    <div class="user_img">
                        
                        <img src="{{ request.user.profile.profileimg.url }}" class="profile_img mt-3"
                            alt="user profile images">
                    </div>
                    <div class="user_about">
                        <h5 class="my-3">{{ request.user.get_full_name }}</h5>
                        <span class="user_job">{{ request.user.profile.bio }}</p>
                            <p class="text-muted font-size-sm">{{ request.user.profile.location }}, {{request.user.profile.country}}</p>
                            <div class="user_data mt-3">
                                <span class="about_profile">
                                    
                                    {% if total_post == 0 %}
                                    <p>Total Post: 0 </p>

                                    {% elif total_post >= 0 %}
                                    <p>Total Post: {{total_post}} </p>
                                    {% endif %}
                                        
                                </span>
                                
                            </div>

                    </div>
                    <hr>
                    <div class="second_halve mt-3">
                        <ul class="navigation">

                            <li class="nav_link"> <a href="{% url 'chat:chat_index' %}" class="nav_l"><i class="bi bi-chat-square-dots-fill"></i>
                                    Chat</a> </li>
                            <li class="nav_link"><a href class="nav_l"><i class="fa-solid fa-bell" style="color: #0a5ef0;"></i>
                                    Notification</a></li>
                            <li class="nav_link"><a href="{% url 'video_conference:home' %}" class="nav_l"><i class="fa-solid fa-video" style="color: #0a68ff;"></i> Video Conference</a></li>

                        </ul>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'profile' request.user.id %}" class="btn btn-outline-success mb-4"><i class="bi bi-eye-fill"></i> View
                            Profile</a>

                    </div>

                </div>

            </div>

            <!-- sugeestions start-->

            <div class="suggesions text-center">
                <h3 class="mb-3">People You May Know</h3>
                <div id="third_box" class="box">


                    {% for d in data %}
                    <!-- suggetion profile -->
                    <div class="container my-3"
                        style="background-color: #ECECEC; border-radius: 10px; box-shadow: 0 0.2rem rem rgba(0, 0, 0, 0.7); ">
                        <div class="row">

                            <div class="col-2">
                                <img style="height: 60px; width:60px; border-radius:50%;border-color:#ECECEC; "
                                    src="{{ d.profile.profileimg.url }}" class="profile_img mt-1"
                                    alt="user profile images">

                            </div>

                            <div class="col-9 mt-2">
                                <a href="{% url 'profile' d.id %}">
                                    <h5>{{ d.get_full_name }}</h5>
                                </a>
                            </div>

                            
                        </div>

                    </div>

                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <a href="/suggestion/" class="btn btn-sm btn-success"> See
                            More ...</a>

                    </div>






                </div>

            </div>
            <!-- sugeestions end-->



        </div>
        <!-- left side end -->



        
        <!-- right side start-->



        <div class="col-8">

            <!-- status given box -->
            <div style="background-color: #ECECEC; border-radius: 5px; box-shadow: 0 0.2rem rem rgba(0, 0, 0, 0.7); "
                class="post-box w-100 row mt-4 mb-4">
                <h4><img style="height: 60px; width:60px; border-radius:50%; border-color:#ECECEC; "
                        src="{{ request.user.profile.profileimg.url }}" class="profile_img mt-1"
                        alt="user profile images"> Hey {{ request.user.first_name }}!</h4>

                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <textarea name="text" id="" cols="92" rows="5" placeholder="Share Your Throughts!"></textarea>
                    <div class="row">
                        <div class="col-1 p-2">
                            <input style="font-size: 15px;" type="file" name="image" id="">
                        </div>

                        <div class="col-1 offset-8  p-2">
                            <input type="submit" class="btn btn-sm btn-outline-success px-5" value="Share">
                        </div>

                    </div>

                </form>



            </div>
            <!-- status given box end-->



            <!-- Post Design Start -->
            <div class="row" style="overflow: hidden;">
                

                {% for p in posts %}


                <div class="bootstrap snippets bootdey" style="overflow: hidden;">
                    <div class="col">
                        <div class="panel panel-white post panel-shadow" style="overflow: hidden;">
                            <div class="post-heading mt-3 ms-2">
                                <div class="row image prob">
                                    <div class="col-1">
                                        <img src="{{p.authorprofile.profileimg.url}}" class="img-circle avatar"
                                            alt="user profile image">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="title h5">
                                                    <a href="{% url 'profile' p.authorprofile.user.id %}" class=""><b>{{p.author.get_full_name}}</b></a>
                                                </div>
                                            </div>


                                            {% if request.user.id == p.author.id or request.user.is_staff == True %}


                                             <!-- edit delete -->
                                            <div class="col-2">
                                                <div class="postedit">
                                                    <a class="me-3" href="{% url 'postedit' p.id %}" title="Edit">
                                                        <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                                    </a>
                                                    <a href="/postdelete?post_id={{p.id}}" title="Delete">
                                                        <i class="fa-solid fa-trash fa-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>

                                        <h6 class="text-muted time">{{p.updated_at}}</h6>
                                    </div>

                                </div>

                            </div>
                            <div class="post-description">
                                <p style="margin-top: -30px;" >{{p.text}}</p>

                                {% if p.postimg %}
                                
                                <img class="mb-3" style="height: 400px; width:auto; " src="{{ p.postimg.url }}" alt="">


                                {% endif %}

                                <div class="">

                                    <div class="my-0 flex space-x-4 lg:font-bold" style="display: inline;">
                                        <a href="{% url 'like_post' p.id %}" class="like-btn">
                                        
                                        <!-- Love Icon -->
                                        
                                        {% if request.user in p.likes.all %}
                                            <i class="fa-solid fa-lg fa-heart"></i>
                                        {% else %}
                                            <i class="fa-regular fa-lg fa-heart"></i>
                                        {% endif %}                                          
                                        </a>



                                        
                                        <h6 class="ms-3" style="display: inline;">{{p.total_like}}</h6>

                                        <a href="{% url 'show_comment' p.id %}"><i class="fa-regular fa-comment fa-lg  ms-5"></i></a>
                                        <h6 class="ms-3" style="display: inline;">{{p.total_comment}}</h6>
                                        
                                    </div>
                                    
                                    {% if p.postimg %}
                                        
                                    <a title="Download" style="margin-left: 50px;" href="{% url 'download_image' p.id %}" download><i class="fa-solid fa-download fa-lg"></i></a>

                                    {% endif %}
                                </div>
                            </div>
                            
                            <!-- comment end -->
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <!-- Post Design Start End -->




        </div>
    </div>
</div>





{% endblock content %}