{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<style>
  .btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
</style>



<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Welcome Back, Login Here! </h2>

      {% if messages %}
          {% for message in messages %}

            <div class="alert alert-primary fade show alert-dismissible" role="alert">
              <strong><i class="fa fa-warning" aria-hidden="true"></i></strong>  {{message}}
            </div>
              
          {% endfor %}
      {% endif %}

      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5" action="" method="POST">
          {% csrf_token %}
          <div class="text-center">
            <!-- <img
              src="{% static 'images\footerimage.png' %}"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile"> -->
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" name="username" id="Username"
              aria-describedby="emailHelp"
              placeholder="Username" required>
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" id="password"
              placeholder="Password" required>
          </div>
          <div class="text-center"><button type="submit"
              class="btn btn-color px-5 mb-5 w-100">Login</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
            Registered? <a href="/signup/" class="text-dark fw-bold"> Create an
              Account</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
