<style>

  .notification-circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 2px Arial, sans-serif;
  }
  


  .icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-success p-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Social Web</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat:chat_index' %}">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'video_conference:home' %}">Video Conference</a>
          </li>
        </ul>
  
        
  
        {% if not request.user.is_authenticated %}
  
        <!-- Right navigation -->
        <div class="navbar-nav ms-lg-0 p-2">
          <a class="nav-item nav-link" href="/login/">Login</a>
        </div>
        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0 ms-lg-2">
          <a href="/signup/" class="btn btn-sm btn-primary w-full w-lg-auto me-3">
            Register
          </a>
        </div>
        {% endif %}
  
        {% if request.user.is_authenticated %}
        <div class="menu mt-1">
          
          <a href="{% url 'video_conference:home' %}"><i class="fa-solid fa-video fa-lg me-4" style="color: #FFFFFF;"></i></a>
          <a href="{% url 'chat:chat_index' %}"><i class="fa-solid fa-comments fa-lg me-4" style="color: #FFFFFF;"></i></a>

          <div class="col d-inline-block">
            <a style="color: #FFFFFF;" href="{% url 'chat:notification' %}"><i class="fa-solid fa-bell fa-lg" style="color: #FFFFFF;"></i>
              
              {% if notification_count > 0 %}
              <p style=" text-align:center; padding: 0px 3px; color:white; display: inline;  margin: auto; margin-left: 0px; font-size: 15px; border-radius: 50%; background-color:red; "><b id="notification-count">{{notification_count}}</b></p>
              {% endif %}
                
            </a>
          </div>
        </div>
        
        <div class="dropdown d-flex align-items-lg-center mt-0 me-lg-4 me-5 ms-5">
          
          <a class="btn btn-link dropdown-toggle" style="margin-right: 50px;" type="button" id="dropdownMenuButton2"
          data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.profile.profileimg.url }}" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu me-5" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/index/"> <i class="fa-solid fa-bars me-2"></i>Dashboard</a></li>
            <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}"><i class="fa-solid fa-user me-2"></i>Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'showblocklist' %}"><i class="fa-solid fa-ban me-2"></i>Blocklist</a></li>
            <li><a class="dropdown-item" href="{% url 'reports' request.user %}"><i class="bi bi-clock-history me-2"></i>Account History</a></li>
            <!-- <li><a class="dropdown-item" href="/setting/">Setting</a></li> -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger fw-bold"" href="/delete_account/" onclick="return confirm('Are you sure want to delete your account?');"><i class="bi bi-trash me-2"></i>Delete Account</a></li>
            <li><a class="dropdown-item text-warning fw-bold"" href="/logout/" onclick="return confirm('Are you sure?');"><i class="fa-solid fa-power-off me-2"></i>Logout</a></li>
          </ul>
        </div>

        


        {% endif %}
  
        
      </div>
    </div>
  </nav>
