{% extends 'base/base.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <main>
                <div class="container">
                    <div class="row m-b-r m-t-3">
                        <div class="col-md-2 offset-md-1">
                            <img style="height: 200px; width:400px;" src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt="" class="img-circle img-fluid">
                        </div>
                        <div class="col-md-9 p-t-2">
                            <h2 class="h2-responsive">@janedoe <button type="button" class="btn btn-info-outline waves-effect">Follow</button></h2>
                            <p>Jane Doe</p>
        
                            <ul class="flex-menu">
                                <li><strong>41</strong> posts</li>
                                <li><strong>47k</strong> followers</li>
                                <li><strong>208</strong> following</li>
                            </ul>
                        </div>
                    </div>
        
                    
                </div>
            </main>
        

        </div>
        <div class="col-1"></div>
    </div>
</div>
	
    <div class="row mt-3" style="background-color: #FFFFFF;">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row" style="overflow: hidden;">
               
                {% for p in posts %}
        
        
                <div class="bootstrap snippets bootdey" style="overflow: hidden;">
                    <div class="col">
                        <div class="panel panel-white post panel-shadow" style="overflow: hidden;">
                            <div class="post-heading mt-3 ms-2">
                                <div class="row image prob">
                                    <div class="col-1">
                                        <img src="{{p.authorprofile.profileimg.url}}" class="img-circle avatar"
                                            alt="user profile image">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="title h5">
                                                    <a href="#" class=""><b>{{p.author.get_full_name}}</b></a>
                                                </div>
                                            </div>
        
        
                                            {% if request.user.id == p.author.id or request.user.is_staff == True %}
        
        
        
                                            <div class="col-2">
                                                <div class="postedit">
                                                    <a class="me-3" href="#" title="Edit">
                                                        <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                                    </a>
                                                    <a href="/profile_post_delete?post_id={{p.id}}" title="Delete">
                                                        <i class="fa-solid fa-trash fa-xs"></i>
                                                    </a>
        
                                                </div>
                                            </div>
                                            {% endif %}
        
                                        </div>
        
                                        <h6 class="text-muted time">{{p.updated_at}}</h6>
                                    </div>
        
                                </div>
        
                            </div>
                            <div class="post-description">
                                <p>{{p.text}}</p>
        
                                {% if p.postimg %}
                                <img style="height: 400px; width:auto;" src="{{ p.postimg.url }}" alt="">
        
        
                                {% endif %}
        
                                <div class="">
        
                                    <div class="my-4 flex space-x-4 lg:font-bold" style="display: inline;">
                                        <a href="/like?post_id={{p.id}}" class="flex items-center space-x-2"
                                            style="display: inline;">
                                            <div class="rounded-full text-black" style="display: inline;">
        
                                                <!-- love icon START-->
                                                <i class="fa-regular fa-heart fa-lg mt-4 "
                                                    style="color: #c82828;"></i>
                                                <!-- love icon ENd-->
        
                                                {% if p.total_like >= 1 %}
        
        
                                                {% endif %}
                                            </div>
                                        </a>
                                        <h6 class="ms-3" style="display: inline;">{{p.total_like}}</h6>
                                        
                                        <a href="{% url 'show_comment' p.id %}"><i class="fa-regular fa-comment fa-lg  ms-5"></i></a>
                                        <h6 class="ms-3" style="display: inline;">{{p.total_comment}}</h6>
        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
        
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    
{% endblock content %}
    