{% extends 'base/base.html' %}

{% block content %}
<button style="width: 140px; height:40px; margin: 10px 10px;"
    class="btn btn-sm btn-outline-primary"
    onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Go
    Back</button>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 p-5 mt-4" style="background-color: #F5F5F5;">
            <div class="row">
                <div class="col text-center">
                    <h6 class="alert alert-sm alert-info">Edit Post!</h6>
                    <form action method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {{ image_formset.management_form }}
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}

                        {% for form in formset %}
                        {{ form.id }}
                        {{ form.text }}
                        {{ form.image }}
                        <!-- {{ form.DELETE }} -->
                        <br>
                        {% endfor %}
                        <input type="submit" value="Save"
                            onclick="return confirm('Are you sure?');"
                            class="btn btn-sm btn-success mt-5 px-5">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock content %}