{% extends 'base/base.html' %}


{% block content %}

<div class="container mt-3">

    
    <div class="row">
        <div class="row" style="overflow: hidden;">
            <button style="width: 140px; margin-bottom:10px;" class="btn btn-sm btn-outline-primary" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Go Back</button>
                

            {% for p in posts %}


            <div class="bootstrap snippets bootdey" style="overflow: hidden;">
                <div class="col">
                    <div class="panel panel-white post panel-shadow" style="overflow: hidden;">
                        <div class="post-heading mt-3 ms-2">
                            <div class="row image prob">
                                <div class="col-1">
                                    <img src="{{p.authorprofile.profileimg.url}}" class="img-circle avatar"
                                        alt="user profile image">
                                </div>
                                <div class="col">
                                    <div  class="row">
                                        <div class="col-10">
                                            <div style="margin-left: -40px;" class="title h5">
                                                <a href="{% url 'profile' p.authorprofile.user.id %}" class=""><b>{{p.author.get_full_name}}</b></a>
                                            </div>
                                        </div>


                                        {% if request.user.id == p.author.id or request.user.is_staff == True %}



                                        <div class="col-2">
                                            <div class="postedit">
                                                <a class="me-3" href="{% url 'postedit' p.id %}" title="Edit">
                                                    <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                                </a>
                                                <a href="/postdelete?post_id={{p.id}}" title="Delete">
                                                    <i class="fa-solid fa-trash fa-xs"></i>
                                                </a>

                                            </div>
                                        </div>
                                        {% endif %}

                                    </div>

                                    <h6 style="margin-left: -40px;" class="text-muted time">{{p.updated_at}}</h6>
                                </div>

                            </div>

                        </div>
                        <div class="post-description">
                            <p>{{p.text}}</p>

                            {% if p.images.all %}
                                    {% for image in p.images.all %}
                                        {% if image.image %}
                                        <div class="div d-inline" style="position: relative; display: inline-block; margin-right: 10px;">
                                            <a title="Download" class="me-2 mt-1" style="position: absolute; right: 0;" href="{% url 'download_image' image.id %}" download>
                                                <i class="fa-solid fa-download fa-lg"></i>
                                            </a>
                                            
                                            
                                                <img class="mb-3" style="height: 200px; width:auto;" src="{{ image.image.url }}" onclick="this.requestFullscreen()" alt="Image">
                                            
                                                
                                            
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            <div class="mt-3">

                                <div class="my-4 flex space-x-4 lg:font-bold" style="display: inline;">

                                    <a style="color: red;" href="{% url 'like_post' p.id %}" class="like-btn">
                                        
                                        <!-- Love Icon -->
                                        
                                        {% if request.user in p.likes.all %}
                                            <i class="fa-solid fa-lg fa-heart"></i>
                                        {% else %}
                                            <i class="fa-regular fa-lg fa-heart"></i>
                                        {% endif %}                                          
                                    </a>

                                    <h6 class="ms-3" style="display: inline;">{{p.total_like}}</h6>

                                    <i class="fa-regular fa-comment fa-lg  ms-5"></i>
                                    <h6 class="ms-3" style="display: inline;">{{p.total_comment}}</h6>
                                    
                                </div>
                                {% if p.postimg %}
                                        
                                    <a title="Download" style="margin-left: 50px;" href="{% url 'download_image' p.id %}" download><i class="fa-solid fa-download fa-lg"></i></a>

                                {% endif %}
                            </div>
                        </div>
                        <div class="post-footer">

                            <!-- comment start -->
                            <!-- <form action="/comment/{{p.id}}" method="POST">{% csrf_token %}
                                <div class="input-group">
                                    <input class="form-control" name="comment" placeholder="Add a comment" type="text" required>
                                    <span class="input-group-addon">
                                        <a href="{% url 'comment' p.id %}"><button class="btn btn-success px-2" type="submit" id="button-addon2"><i class="fa-regular fa-paper-plane"></i> Comment</button></a>
                                        

                                    </span>
                                </div>
                            </form> -->

                            
                            <!-- {% for cmnt in comments %}                       -->
                            
                            <ul class="comments-list">
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="{{cmnt.authorprofile.profileimg.url}}" alt="avatar">
                                    </a>
                                    
                                    
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <a href="{% url 'profile' cmnt.authorprofile.user.id %}"><h4 class="user">{{cmnt.author.get_full_name}}</h4></a>
                                            
                                            <h5 class="time">{{cmnt.created_at}}</h5>
                                        </div>

                                        <!-- edit delete -->
                                        {% if request.user.id == cmnt.author.id or request.user == p.author %}
                                        <div class="postedit">
                                            <a class="me-3" href="{% url 'commentedit' cmnt.id %}" title="Edit">
                                                <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                            </a>
                                            <a href="/comment_delete?cmnt_id={{cmnt.id}}" title="Delete" onclick="return confirm('Are you sure?');">
                                                <i class="fa-solid fa-trash fa-xs"></i>
                                            </a>

                                        </div>
                                        {% endif %}
                                        <p>{{cmnt.text}}</p>
                                    </div>
                                    
                                    
                                  
                                    
                                    {% if replays %}

                                        {% for r in replays %}
                                        
                                        <ul class="comments-list">
                                            <hr>
                                                <li class="comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="avatar" src="{{r.authorprofile.profileimg.url}}" alt="avatar">
                                                    </a>
                                                    <div class="comment-body">
                                                        <div class="comment-heading">
                                                            <a href="{% url 'profile' r.authorprofile.user.id %}"><h4 class="user">{{r.author.get_full_name}}</h4></a>
                                                            
                                                            <h5 class="time">{{r.created_at}}</h5>
                                                        </div>

                                                        <!-- edit delete -->
                                                        {% if request.user.id == r.author.id or request.user == p.author %}

                                                        <div class="postedit">
                                                            <a class="me-3" href="{% url 'replayedit' r.id %}" title="Edit">
                                                                <i class="fa-regular fa-pen-to-square fa-xs"></i>
                                                            </a>
                                                            <a href="/replay_delete?replay_id={{r.id}}" title="Delete" onclick="return confirm('Are you sure?');">
                                                                <i class="fa-solid fa-trash fa-xs"></i>
                                                            </a>
                
                                                        </div>

                                                        {% endif %}


                                                        <p>{{r.replay}}</p>
                                                    </div>
                                                </li> 
                                                
                                        {% endfor %}

                                    {% endif %}
                                            <form action="" method="POST">{% csrf_token %}
                                                <li class="comment">
                                                    <div class="input-group">
                                                        <input class="form-control" name="replay" placeholder="Add A Replay" type="text" required>
                                                        <!-- <input type="hidden" name="cmnt_id" value="{{cmnt.id}}"> -->
                                                        <span class="input-group-addon">
                                                            <button class="btn btn-success px-2" type="submit" id="button-addon2"><i class="fa-regular fa-paper-plane"></i> Replay</button>
                    
                                                        </span>
                                                    </div>
                                                </li> 
                                                </form>
                                        </ul>
                                    
                                </li>
                            </ul>

                            <!-- {% endfor %} -->
                           
                        </div>
                        <!-- comment end -->
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
 </div>


  
  

{% endblock content %}
    

