{% extends 'base/base.html' %}
{% load static %}



{% block content %}
<style>
    .form-main {
        margin-top: 15px;
    }
   
      
    .section-main {
        margin-top:40px;
        padding: 20px 0;
        
    }
   
    
 
    
</style>





<div class="container my-3">
    <div class="row">
        <button style="width: 140px; margin-bottom:10px;" class="btn btn-sm btn-outline-primary" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Go Back</button>
        <!-- Search Panel -->
        
          
          
          <div class="section-main">
            <div class="" role="main">
              <div class="row">

                <h6 class="alert alert-info text-center">Search Result</h6>

                  <!-- <form action="" method="GET" class="form-main  form-inline nofloat-xs">
                    <div class="form-group form-input-fields form-group-lg has-feedback">
                        <div class="input-group mb-3">
                            <input type="text" style="width: 1145px;" name="search_box" class="search_box" placeholder=" Search For People" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-success px-4" type="button" id="button-addon2"><i class="fa-solid fa-user"></i>  Search</button>
                            </div>
                        </div>
                    </div>
                  </form> -->


              </div>
          
          
              <!--rest of page content -->
          
            </div>
          </div>


        <!-- Search Panel End -->

        {% for d in data %}
            {% if d not in request.user.profile.following.all %}
            <div class="col-5">
                <div class="row">
                    <div class="col-2">
                        <img style="height: 66px; width:66px; border-radius:50%;border-color:#ECECEC; "
                            src="{{ d.profile.profileimg.url }}" class="profile_img mt-1" alt="user profile images">
                    </div>
                    <div class="col-10 mb-3">
                        <a href="{% url 'profile' d.id %}">
                            
                            <h6>{{ d.get_full_name }}</h6>
                            {% if request.user in d.profile.followers.all %}
                            <a href="{% url 'suggestion_follow_user' d.id %}" class="btn btn-sm btn-success ms-2 px-2">Following </a>
                            {% else %}
                                <a href="{% url 'suggestion_follow_user' d.id %}" class="btn btn-sm btn-primary ms-1 px-2">+ Follow </a>
                            {% endif %}
                        </a>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            {% endif %}
        {% endfor %}
    </div>

</div>




{% endblock content %}